@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}



.content{
  text-align: center;
  margin: auto 0px;
  align-self: center;
}

.footer{
  background-color: #eeeeee;
}


.left-links,.right-links{
  list-style: none;
  padding-bottom: 4px;
  padding-left: 10px;
  display: flex;
  gap: 10px;
}
.link-button{
  text-decoration: none;
  color: gray;
}
.header,.footer{
  display: flex;
  padding: 0px 10px 5px 10px;
  justify-content: space-between;
}